@import 'bootstrap';
@import "nes.css/css/nes.css";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

nav{
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(206 34 17);
}

body {
    background: url('https://e1.pxfuel.com/desktop-wallpaper/302/432/desktop-wallpaper-pokemon-scenery-pokemon-landscape.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  li{
    list-style-type: none;
  }

  .li-dark{
    background-color: black;
  }

  .round{
    border-radius: 50%;
  }

  .fire{
    background-color: #EE8130;
  }
  .grass{
    background-color: #7AC74C;
    ;
  }
  .water{
    background-color:#6390F0;
  }
  .bug{
    background-color: #A6B91A;
  }
  .dragon{
    background-color: #6F35FC;
  }
  .electric{
    background-color: #F7D02C;
  }
  .figthing{
    background-color: #C22E28;
  }
  .flying{
    background-color: #A98FF3;
  }
  .ghost{
    background-color: #735797;
  }
  .ground{
    background-color: #E2BF65;
  }
  .ice{
    background-color: #96D9D6;
  }
  .normal{
    background-color: #A8A77A;
  }
  .poison{
    background-color: #A33EA1;
  }
  .psychic{
    background-color: #F95587;
  }
  .rock{
    background-color: #B6A136;
  }